.cursor-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  pointer-events: none;
  z-index: 99;
  background-color: #00bfff;
  box-shadow: 0 0 30px rgba(0, 191, 255, 0.6);
  mix-blend-mode: difference;
  clip-path: polygon(23% 25%, 38% 41%, 61% 41%, 77% 24%, 100% 18%, 71% 64%, 50% 84%, 26% 64%, 0% 19%);
  -webkit-clip-path: polygon(23% 25%, 38% 41%, 61% 41%, 77% 24%, 100% 18%, 71% 64%, 50% 84%, 26% 64%, 0% 19%);
  animation: 1.5s infinite ease-in-out;
}

@keyframes flap {
  0%, 100% {
    clip-path: polygon(23% 25%, 38% 41%, 61% 41%, 77% 24%, 100% 18%, 71% 64%, 50% 84%, 26% 64%, 0% 19%);
    -webkit-clip-path: polygon(23% 25%, 38% 41%, 61% 41%, 77% 24%, 100% 18%, 71% 64%, 50% 84%, 26% 64%, 0% 19%);
    transform: translateY(0);
  }
  50% {
    clip-path: polygon(23% 40%, 38% 41%, 61% 41%, 77% 40%, 100% 55%, 71% 64%, 50% 84%, 26% 64%, 0% 55%);
    -webkit-clip-path: polygon(23% 40%, 38% 41%, 61% 41%, 77% 40%, 100% 55%, 71% 64%, 50% 84%, 26% 64%, 0% 55%);
    transform: translateY(0); /* no vertical movement */
  }
}

.cursor-icons {
  top: 10px;
  left: 10px;
  height: calc(var(--cursorH) - 20px);
  transition: all 0.5s ease-out, height 0.5s ease-in-out;
}
.cursor-disable {
  --size: 0px;
}
@media only screen and (min-width: 600px) {
  .cursor-main {
    --size: 50px;
  }
  .cursor-disable {
    --size: 0px;
  }
}
